In [13]:
import numpy as np
import pandas as pd
import yfinance as yf
from scipy.optimize import minimize
from pypfopt import EfficientFrontier
from pypfopt import risk_models
from pypfopt import expected_returns
import mitosheet

In [14]:
tickers = ['TSM','AAPL','AMD','BABA']

In [15]:
data =yf.download(tickers, start='2016-01-01', end='2021-12-31')

[*********************100%***********************]  4 of 4 completed

In [16]:
data2 = data['Adj Close']

In [18]:
mitosheet.sheet(data, analysis_to_replay="id-tzpvxidbxz")

MitoWidget(analysis_data_json='{"analysisName": "id-tzpvxidbxz", "analysisToReplay": null, "code": [], "stepSuâ€¦

In [6]:
data3 = data2.pct_change()[1:]

In [7]:
data3 = data3.dropna()
data3

                AAPL       AMD      BABA       TSM
Date
2016-01-05 -0.025059 -0.007220  0.025297 -0.006338
2016-01-06 -0.019570 -0.087273 -0.016533 -0.027790
2016-01-07 -0.042205 -0.091633 -0.059615 -0.011246
2016-01-08  0.005287 -0.061403 -0.026403 -0.013744
2016-01-11  0.016192  0.093458 -0.012429  0.005766
...              ...       ...       ...       ...
2021-12-23  0.003644  0.015707  0.007215 -0.005111
2021-12-27  0.022975  0.056247 -0.017445  0.016738
2021-12-28 -0.005767 -0.007839 -0.015353 -0.005216
2021-12-29  0.000502 -0.031929 -0.023606 -0.005325
2021-12-30 -0.006578 -0.020977  0.097243 -0.008154

[1509 rows x 4 columns]

In [8]:
mu = expected_returns.mean_historical_return(data3)

C:\Users\shane\anaconda3\envs\port\lib\site-packages\pypfopt\expected_returns.py:31: UserWarning: Some returns are NaN. Please check your price data.
  warnings.warn(
C:\Users\shane\anaconda3\envs\port\lib\site-packages\pypfopt\expected_returns.py:35: UserWarning: Some returns are infinite. Please check your price data.
  warnings.warn(

In [9]:
mu

AAPL   NaN
AMD    NaN
BABA   NaN
TSM    NaN
dtype: float64

In [10]:
cov = risk_models.sample_cov(data3)

In [11]:
cov

              AAPL           AMD           BABA           TSM
AAPL  54838.685822  -1373.094793    -653.923188    552.567833
AMD   -1373.094793  33973.183883   -1426.038183   -530.436749
BABA   -653.923188  -1426.038183  147175.206819    962.800955
TSM     552.567833   -530.436749     962.800955  60060.513158